.btn {
  border: 3px solid transparent;
  color: var(--color--fontBase);
  padding: var(--padding--xs) var(--padding--md);
  border-radius: var(--borderRadius--xs);
  display: flex;
  align-items: center;
}
.btnIcon {
  gap: 0.2rem;
}
.primary {
  background-color: var(--color--primary);
  color: var(--color--fontBaseInverted);
}
.secondary {
  background-color: var(--color--base--white);
}
.tertiary {
  background-color: var(--color--tertiary);
  color: var(--color--fontBaseInverted);
}
.outline-primary {
  border: 2px solid var(--color--primary);
  color: var(--color--primary);
}
.outline-muted {
  border: 2px solid var(--color--fontBaseMuted);
  color: var(--color--fontBaseMuted);
}
.size-xs {
  font-size: var(--fontSize--xs);
}
.size-sm {
  font-size: var(--fontSize--sm);
}
.size-md {
  font-size: var(--fontSize--md);
}
.size-lg {
  font-size: var(--fontSize--lg);
}
.size-xl {
  font-size: var(--fontSize--xl);
}

.isRounded {
  border-radius: 100%;
  padding: var(--padding--base);
}
